*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 4rem;
    
}

header p{
    margin: 20px;
    color: rgb(11, 209, 11);
}

header p a{
    text-decoration: none;
    color: black;
}

a.active{
    background-color: blue;
    color: white;
    padding-block: 1.37rem;
    padding-inline: .5rem;
}

a:active{
    background-color: blue;
    border: none;
    /* padding: 20px 0; */
}

form >.child-info, 
form > .father-info, 
form > .mother-info,
form > .more-info,
form > .document{
    margin: .5rem;
}

h1{
    text-align: center;
    background-color: rgb(11, 209, 11);
    color: white;
    padding: 20px;
}

h2{
    color: rgb(11, 209, 11);
    padding: 10px 0;
    border-bottom: .1rem solid black;
}

label{
    display: block;
}

.radio{
    display: inline;
    width: 1%;
}


h4{
    margin: 10px 0;
}

button{
    width: 100%;
    border: none;
    padding: 8px;
    background-color: gainsboro;
}

button:hover{
    background-color: rgb(11, 209, 11);
    color: white;
}